USE [master]
GO
/****** Object:  Database [FortsToursAndTravels]    Script Date: 3/8/2021 2:55:39 PM ******/
CREATE DATABASE [FortsToursAndTravels]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FortsToursAndTravels', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER\MSSQL\DATA\FortsToursAndTravels.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FortsToursAndTravels_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER\MSSQL\DATA\FortsToursAndTravels_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FortsToursAndTravels].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FortsToursAndTravels]
GO
USE [FortsToursAndTravels]
GO
/****** Object:  Table [dbo].[tbl_admin]    Script Date: 3/8/2021 2:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [varchar](50) NULL,
	[admin_pass] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_contact]    Script Date: 3/8/2021 2:55:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_contact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[subject] [varchar](50) NULL,
	[message] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_contact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_tour]    Script Date: 3/8/2021 2:55:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_tour](
	[tour_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](50) NULL,
	[fort_name] [varchar](50) NULL,
	[bus_time] [varchar](50) NULL,
	[hotel_service] [varchar](50) NULL,
	[no_ticket] [varchar](50) NULL,
	[bus_charges] [varchar](50) NULL,
	[entry_fees] [varchar](50) NULL,
	[total_charges] [varchar](50) NULL,
	[pay_mode] [varchar](50) NULL,
	[bank_name] [varchar](50) NULL,
	[card_no] [varchar](50) NULL,
	[expiry_date] [varchar](50) NULL,
	[card_holder_name] [varchar](50) NULL,
	[tour_date] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_tour] PRIMARY KEY CLUSTERED 
(
	[tour_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 3/8/2021 2:55:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[mobile] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_user] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
